@font-face {
    font-family: slackey;
    src: url('../Slackey.ttf');
}

a .scoreIncrement {
    font-size: 1.6em;
    float: right;
    background: url("../images/redstar.png") no-repeat;
    background-size: 100%;
    min-width: 50px;
    min-height: 50px;
    padding-top: 8px;
    text-align: center;
    color: #ffffff;
}

.score {
    background: url("../images/redstar.png") no-repeat;
    background-size: 100%;
    min-width: 40px;
    min-height: 40px;
    padding-top: 8px;
    text-align: center;
    color: #ffffff;
}

.score{
    float: right;
}

#velggruppe {
    width: 80%;
    float: left;
}

#velgaktivitet {
    width: 15%;
    float: right;
    padding: 0;
}

ul,li {
    list-style-type: none;
}

.mengdeDescription {
    visibility: hidden;
}

html.ui-mobile body.ui-mobile-viewport div#login.ui-page {
    background-image: url("../images/bg-tile.jpg")
}

.headerimage {
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

* {
    font-family: slackey;
}

#footer li .ui-btn-active {
    background-color: #be3510;
}