<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

    <import resource="classpath:/applicationContext-jpa.xml" />
    <task:annotation-driven />

    <bean class="no.kantega.frisktblodtilhodet.DatadirPropertyPlaceholderConfigurer">
        <property name="configurationFileName" value="conf/aksess.conf" />
        <property name="dataDirectoryLocator">
            <bean class="org.simplericity.datadirlocator.DefaultDataDirectoryLocator">
                <property name="defaultDir" value="$HOME/frisktblodstorage"/>
                <property name="envVarName" value="KANTEGADIR"/>
                <property name="jndiName" value="kantega.appDir"/>
                <property name="systemProperty" value="kantega.appDir"/>
            </bean>
        </property>
    </bean>

    <!--<bean id="wroFilter" class="ro.isdc.wro.http.ConfigurableWroFilter">
        <property name="debug" value="${wrofilter.debug}"/>
        <property name="cacheUpdatePeriod" value="${wrofilter.cacheUpdatePeriod}"/>
        <property name="modelUpdatePeriod" value="${wrofilter.modelUpdatePeriod}"/>
        <property name="disableCache" value="${wrofilter.disableCache}" />
        <property name="gzipEnabled" value="${wrofilter.gzipResources}" />
        <property name="jmxEnabled" value="${wrofilter.jmxEnabled}" />
    </bean>-->

    <bean id="kantegaUserImport" class="no.kantega.frisktblodtilhodet.jobs.KantegaUserImport">
        <property name="personRepository" ref="personRepository" />
        <property name="ldapTemplate" >
            <bean class="org.springframework.ldap.core.LdapTemplate">
                <property name="contextSource">
                    <bean class="org.springframework.ldap.core.support.LdapContextSource">
                        <property name="url" value="ldap://${ldap.host}" />
                        <property name="password" value="${ldap.adminpassword}" />
                        <property name="userDn" value="${ldap.adminuser}" />
                        <property name="base" value="${ldap.users.searchbase}" />
                    </bean>
                </property>
            </bean>
        </property>
    </bean>
</beans>